button {
  padding: 20px;
  margin-bottom: 20px;
  border: none;
  background-color: red;
  font-size: 18px;
  color: white;
}

button a {
  text-decoration: none;
}

.post {
  font-size: 18px;
  margin-bottom: 14px;
}

.post a {
  margin-right: 10px;
}
