body {
  padding: 20px;
}

form {
  width: 300px;
}

form label {
  display: block;
  margin-bottom: 6px;
}

form div {
  margin-bottom: 10px;
}

form textarea {
  width: 100%;
}

button {
  padding: 8px 12px;
  background-color: goldenrod;
  border: none;
  color: white;
}
